<div class="container">
    <form class=" w-75 mx-auto border border-2 p-3 shadow  rounded" (ngSubmit)="onSubmit()" [formGroup]="formAddTask">
        <h5 class="capTable p-2">THÊM CÔNG VIỆC</h5>
        <div class="mb-3">Tên task <input formControlName="nameTask" class="form-control">
            <div class="text-danger" *ngIf=" submitted &&  f['nameTask'].errors">
                <div>Tên task bạn chưa nhập</div>
            </div>
        </div>


        <div class="mb-3">Mô tả <textarea formControlName="description" class="form-control"></textarea>
            <div *ngIf=" submitted  && f['description'].invalid">
                <div class="text-danger" *ngIf="f['description'].errors && f['description'].errors['required']">Vui lòng
                    nhập mô tả
                </div>
                <div class="text-danger" *ngIf="f['description'].errors && f['description'].errors['minlength']">Mô tải
                    của bạn quá
                    ngắn. Vui lòng nhập
                    hơn 20
                    kí tự</div>
            </div>
        </div>

        <div class="mb-3">Dự án <select class="form-control" formControlName="idProject">
                <option value="">Open this select menu</option>
                <option *ngFor="let item of listProject" [ngValue]="item.id">{{item.nameProject}}</option>
            </select>
            <div class="text-danger" *ngIf="submitted && f['idProject'].errors">
                Vui lòng chọn dự án
            </div>
        </div>
        <div class="mb-3">Người thực hiện <select multiple formControlName="member" class="form-control pb-4">
                <option *ngFor="let item of ListStaff" [ngValue]="item.id">{{item.firstName+" "+item.lastName}}</option>
            </select>
            <div class="text-danger" *ngIf="submitted && f['member'].errors">Vui
                lòng chọn người thực hiện
            </div>
        </div>
        <div class="mb-3">Độ ưu tiên <select formControlName="priority" class="form-control">
                <option value="">Open this select menu</option>
                <option [ngValue]="1">Thấp</option>
                <option [ngValue]="2">Trung bình</option>
                <option [ngValue]="3">Cao</option>
            </select>
            <div class="text-danger" *ngIf="submitted  && f['priority'].errors">Vui
                lòng chọn độ ưu tiên
            </div>
        </div>
        <div class="mb-3">Trạng thái <select formControlName="status" class="form-control ">
                <option value="">Open this select menu</option>
                <option [ngValue]="0">Khởi tạo</option>
                <option [ngValue]="1">Triển khai và kiểm thử</option>
                <option [ngValue]="2">Hoàn tất</option>
            </select>
            <div class="text-danger" *ngIf="submitted  && f['status'].errors">Vui
                lòng chọn trạng thái
            </div>
        </div>
        <div class="d-flex justify-content-end ">
            <button class="btn btn-success p-2 shadow ">Thêm công việc</button>
            <button class="btn btn-warning ms-3 p-2 shadow " (click)="onReset()">Làm mới</button>
        </div>
    </form>
</div>
<p-toast></p-toast>