<div class="container ">
    <div class="accordion accordion-flush border border-1 rounded " id="accordionFlushRight"
        *ngFor="let item of staffByArea| keyvalue">
        <div class="accordion-item ">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#flush-collapse'+item.key" aria-expanded="false"
                    [attr.aria-controls]="'flush-collapse'+item.key">
                    {{item.key}}
                </button>
            </h2>
            <div [attr.id]="'flush-collapse'+item.key" class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushRight">
                <div class="accordion-body">
                    <!-- // *ngFor="let val of item['value']" -->
                    <div class="list-group" *ngFor="let val of handle(item.value)">
                        <a href="#" class="list-group-item list-group-item-action bgContainer resetBorder"
                            aria-current="true">
                            #{{val?.id}} {{ val?.firstName + " "+ val?.lastName}}
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">{{val?.status}}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>