<div class="capTable p-2">DANH SÁCH TASK</div>
<div class="container mt-3">
    <div class="row justify-content-between">
        <div class="col-4 ">
            <select class="form-select form-select mb-3" #refS (change)="getSelectedValue(refS.value)">
                <option selected>Bộ lộc theo độ ưu tiên </option>
                <option value="?_sort=priority&_order=desc">Cao</option>
                <option value="?_sort=priority&_order=asc">Thấp</option>
            </select>
        </div>
        <div class="col-4">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Name" [(ngModel)]="keyword" (keyup)="changeKey()">
            </div>
        </div>
    </div>
</div>
<hr>
<div *ngIf="listTask && listTask.length >0; else notTask">
    <div class="mb-3 border border-1" *ngFor="let task of listTask">
        <div class="d-flex flex-column ">
            <b class="text-center h5"> {{task.nameTask}} </b>
            <p class="h6 ms-4 w-75 h-auto">- {{task.description}}</p>
        </div>
        <div class="mb-3 row align-items-center">
            <div class="col-6 ">
                <ul class="border-end ul-task">
                    <li>&nbsp; Priority: {{task.priority}}</li>
                    <li>&nbsp; Status: {{task.status}}</li>
                </ul>
            </div>
            <div class="col-6">
                <ul class="ul-task">
                    <li>&nbsp; Nhân viên {{task.idStaff}}</li>
                    <li>&nbsp; Dự án: {{task.idProject}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<ng-template #notTask>
    <div class="text-center">
        Không tìm thấy kết quả
    </div>
</ng-template>