<div class="container-fluid p-0">
  <app-header></app-header>
  <nav
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <app-breadcrumb></app-breadcrumb>
  </nav>


  <main class="d-flex g-1 " style="min-height: 650px;">
    <aside class="col-md-3 "> <app-control-left></app-control-left> </aside>
    <article class="col-md-6 " style="background: #f9f7fd;">
      <router-outlet></router-outlet>
    </article>
    <aside class="col-md-3 "> <app-control-right></app-control-right></aside>

  </main>
  <footer class="bg-dark text-white " style="height: 45px;"> </footer>
  <!-- <app-product (kw)="filterProduct($event)" [products]="products"></app-product>  -->

</div>