<div class="container">
    <form class=" border border-2 p-3 shadow  rounded" (ngSubmit)="onSubmit()" [formGroup]="formAddProject">
        <div class="capTable p-2 rounded">THÊM DỰ ÁN</div>
        <div class="mb-3">Tên dự án <input formControlName="nameProject" class="form-control">
            <div class="text-danger" *ngIf=" submitted  && f['nameProject'].errors">
                <div>Tên dự án bạn chưa nhập</div>
            </div>
        </div>

        <div class="mb-3">Ngày Start <input formControlName="date" class="form-control" type="date">
            <div class="text-danger" *ngIf=" submitted  && f['date'].errors">
                <div>Bạn chưa chọn ngày bắt đầu</div>
            </div>
        </div>

        <div class="mb-3">Tiền <input formControlName="price" class="form-control">
            <div *ngIf=" submitted  && f['price'].invalid">
                <div class="text-danger" *ngIf="f['price'].errors && f['price'].errors['required']">
                    <div>Bạn chưa chọn nhập giá</div>
                </div>
                <div class="text-danger" *ngIf="f['price'].errors && f['price'].errors['pattern']">
                    <div>Hãy nhập sô tiền dạng số</div>
                </div>
            </div>
        </div>
        <div class="mb-3">Leader <select formControlName="leader" class="form-control">
                <option value="">Open this select menu</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <div class="text-danger" *ngIf=" submitted  && f['leader'].errors">
                <div>Bạn chưa chọn Leader</div>
            </div>
        </div>

        <div class="mb-3">Thành viên <select formControlName="staff" class="form-control">
                <option value="">Open this select menu</option>
                <option *ngFor="let item of ListStaff" value="{{item.id}}">{{item.firstName+" "+item.lastName}}</option>
            </select>
            <div class="text-danger" *ngIf=" submitted  && f['staff'].errors">
                <div>Bạn chưa chọn thành viên</div>
            </div>
        </div>

        <div class="d-flex justify-content-end ">
            <button class="btn btn-success p-2 shadow ">Thêm dự án</button>
            <div class="btn btn-warning ms-3 p-2 shadow " (click)="onReset()">Làm mới</div>
        </div>
    </form>
</div>