<div class="container">
    <form class=" border border-2 p-3 shadow  rounded" (ngSubmit)="onSubmit()" [formGroup]="formAddTask">
        <h5 class="capTable p-2">THÊM TASK</h5>
        <div class="mb-3">Tên task <input formControlName="nameTask" class="form-control">
            <div class="text-danger" *ngIf=" submitted &&  f['nameTask'].errors">
                <div>Tên task bạn chưa nhập</div>
            </div>
        </div>


        <div class="mb-3">Mô tả <textarea formControlName="des" class="form-control"></textarea>
            <div *ngIf=" submitted  && f['des'].invalid">
                <div class="text-danger" *ngIf="f['des'].errors && f['des'].errors['required']">Vui lòng nhập mô tả
                </div>
                <div class="text-danger" *ngIf="f['des'].errors && f['des'].errors['minlength']">Mô tải của bạn quá
                    ngắn. Vui lòng nhập
                    hơn 20
                    kí tự</div>
            </div>
        </div>

        <div class="mb-3">Dự án <select class="form-control" formControlName="project">
                <option selected>Open this select menu</option>
                <option *ngFor="let item of listProject" value="{{item.id}}">{{item.nameProject}}</option>
            </select>
            <div class="text-danger" *ngIf="submitted && f['project'].errors">
                Vui lòng chọn dự án
            </div>
        </div>
        <div class="mb-3">Người thực hiện <select formControlName="staff" class="form-control">
                <option selected>Open this select menu</option>
                <option *ngFor="let item of ListStaff" value="{{item.id}}">{{item.firstName+" "+item.lastName}}</option>
            </select>
            <div class="text-danger" *ngIf="submitted && f['staff'].errors">Vui
                lòng chọn nhân viên
            </div>
        </div>
        <div class="mb-3">Độ ưu tiên <select formControlName="priority" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <div class="text-danger" *ngIf="submitted  && f['priority'].errors">Vui
                lòng chọn nhân
                viên
            </div>
        </div>
        <div class="mb-3">Trạng thái <select formControlName="status" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <div class="text-danger" *ngIf="submitted  && f['status'].errors">Vui
                lòng chọn nhân
                viên
            </div>
        </div>
        <div class="d-flex justify-content-end ">
            <button class="btn btn-success p-2 shadow ">Thêm công việc</button>
            <button class="btn btn-warning ms-3 p-2 shadow " (click)="onReset()">Reset</button>
        </div>
    </form>
</div>



<!-- <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-group">
        <label for="name">Name</label>
        <input formControlName="name" id="name" type="text" class="form-control">
        <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
            <div *ngIf="f['name'].errors && f['name'].errors['required']">Name is required.</div>


            <div *ngIf="f['name'].errors && f['name'].errors['minlength']">Name should be 3 character.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input formControlName="email" id="email" type="text" class="form-control">
        <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
            <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
            <div *ngIf="f['email'].errors && f['email'].errors['email']">Please, enter valid email address.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="body">Body</label>
        <textarea formControlName="body" id="body" type="text" class="form-control">
        </textarea>
        <div *ngIf="f['body'].touched && f['body'].invalid" class="alert alert-danger">
            <div *ngIf="f['body'].errors && f['body'].errors['required']">Body is required.</div>
        </div>
    </div>

    <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Submit</button>
</form> -->